.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: block;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 5px solid #fffaf5;
  border-top: 5px solid #963248;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modalOverlayCropperFrame {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefaf6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100000000000;
}

.modalContentCropperFrame {
  width: 85%;
  height: 85%;
  margin-bottom: 100px;
}

.containerContent {
  position: fixed;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tekstInfoFrame {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
}

.yellowSquare {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: rgb(255, 246, 0);
  margin-right: 10px;
}
.containerBtnsCropperFrame {
  z-index: 10000;
}
.dpiInformContainer {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.squareDpi {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
}
.buttonFrameCropper {
  cursor: pointer;
  padding: 8px 25px;
  background-color: #963248;
  font-family: "OldStandardTT";
  color: white;
  border: none;
  font-size: 14px;
  margin-right: 10px;
}

@media (max-width: 1394px) {
  .buttonFrameCropper {
    padding: 5px 20px;
  }
}

.hiddenImgForCropper {
  display: none !important;
}

.cropper-container {
  direction: ltr;
  font-size: 0;
  line-height: 0;
  position: relative;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
