.mainWrapperFrameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapperConfigurator {
  width: auto;
  height: auto;
}

.workSquareArea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 800px;
}
.containerWithMainImgs {
  position: relative;
}
.frame {
  transition: transform 0.3s ease;
  display: block;
  max-height: 100%;
  max-width: 100%;
  position: relative;
}
.frame.horizontal {
  transform: rotate(0deg);
}

.frame.vertical {
  transform: rotate(90deg);
}
